<html>
<head>
    <script>
        function set_lights(mode) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                   // Typical action to be performed when the document is ready:
                   document.getElementById("demo").innerHTML = xhttp.responseText;
                }
            };
            xhttp.open("GET", "{% url 'light_controller:set_lights' %}?mode=" + mode, true);
            xhttp.send();
        }

        modes = {
            0: {
                "name": "off",
                "background-color": "black",
                "header-color": "white"
            },
            1: {
                "name": "flame",
                "background-color": "red",
                "header-color": "blue"
            },
            0: {
                "name": "gradient",
                "background-color": "blue",
                "header-color": "red"
            }
        };
        mode_count = modes.keys().length();
        current_mode = 0;
        function toggle_lights() {
            current_mode = (current_mode + 1) % 3;
            set_lights(modes[current_mode]["name"]);
            document.getElementById("main").style["background-color"] =
                modes[current_mode]["background-color"];
            document.getElementById("mode_header").style["color"] =
                modes[current_mode]["header-color"];
        }
    </script>
    <style>
        #main {
            background-color: black;
        }
        #mode_header {
            color: white
        }
    </style>
</head>
<body onclick="toggle_lights" id="main">
    <h1 id="mode_header">OFF</h1>
</body>
</html>
