<html>
<head>
    <script>
        function set_lights(mode) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                   // Typical action to be performed when the document is ready:
                   document.getElementById("demo").innerHTML = xhttp.responseText;
                }
            };
            xhttp.open("GET", "{% url 'light_controller:set_lights' %}", true);
            xhttp.send();
        }
    </script>
</head>
<body>
    <h1>Hello, World</h1>
    <span onclick="set_lights('flame')">Turn lights on</span>
</body>
</html>
